{% extends 'base.html' %}
{% block body %}
    <div class="page-header">
        <h3 class="page-title">
        Dashboard
        </h3>
    </div>
    <div class="row grid-margin">
        <div class="col-12">
        <div class="card card-statistics">
            <div class="card-body">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <div class="statistics-item">
                    <p>
                    <i class="icon-sm fa fa-user mr-2"></i>
                    New users
                    </p>
                    <h2>{{total_users}}</h2>
                    <label class="badge badge-outline-success badge-pill">2.7% increase</label>
                </div>
                <div class="statistics-item">
                    <p>
                    <i class="icon-sm fas fa-cloud-download-alt mr-2"></i>
                    Movies
                    </p>
                    <h2>{{total_movies}}</h2>
                    <label class="badge badge-outline-success badge-pill">12% increase</label>
                </div>
                <div class="statistics-item">
                    <p>
                    <i class="icon-sm fas fa-check-circle mr-2"></i>
                    Ratings
                    </p>
                    <h2>{{total_ratings}}</h2>
                    <label class="badge badge-outline-success badge-pill">57% increase</label>
                </div>
                <div class="statistics-item">
                    <p>
                    <i class="icon-sm fas fa-chart-line mr-2"></i>
                    Reports
                    </p>
                    <h2>{{total_reports}}</h2>
                    <label class="badge badge-outline-success badge-pill">10% increase</label>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">
                <i class="fas fa-gift"></i>
                Reports
            </h4>
            <canvas id="orders-chart"></canvas>
            <div id="orders-chart-legend" class="orders-chart-legend"></div>                  
            </div>
        </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">
                <i class="fas fa-chart-line"></i>
                Ratings
            </h4>
            <h2 class="mb-5">0 <span class="text-muted h4 font-weight-normal">Ratings</span></h2>
            <canvas id="sales-chart"></canvas>
            </div>
        </div>
        </div>
    </div>

{% endblock %}